<footer>
  	<div class="container-fluid ">
		<div class="row">
			<div class="col-4 text-left"> 
						<span>&copy; Hobby Corner</span>
			</div>
			<div class="col-8 text-right">
				<span><a href="/about">About Us</a></span> 
				<span><a href="/contactUs">Contact Us</a></span>						
				<span title="follow us on facebook"><img src="./../../resources/images/facebook.png" alt="facebook icon"> </span>
				<span title="follow us on twitter"><img src="./../../resources/images/instagram.png" alt="instagram icon"> </span>
			</div>
		</div>
		</div>
</footer>