<!DOCTYPE html>
<html>
	<head>
		<title>Hobby Corner</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./../resources/css/bootstrap.min.css">
		<link rel="stylesheet" href="./../resources/css/common.css">
		<link rel="stylesheet" href="./../resources/css/index.css">		
	</head>
	<body>
		<script src="./../resources/scripts/lib/jquery-3.4.1.min.js" ></script>
    	<script src="./../resources/scripts/lib/popper.min.js"></script>
    	<script src="./../resources/scripts/lib/bootstrap.min.js" ></script>
    	<div class="page-container">
    		<div class="content-wrapper">
    			<% include ./partials/header.ejs %>
    			<% include ./partials/navigation.ejs %>
				<div class="main-container">
					<div class="col-sm-8">
				    	<div class="card-body shadow">
				        	<h5 class="card-title">About Us</h5>
				        	<p> 
								Now a days life is become busy and even when we have free time we don't spend enough time on our hobbies like we previously did thanks to the digital era. To change this and reconnect you with your hobbies we created Hobby Corner. <br>

								This website is a place where you can meet like minded people like yourself. You can arrange your own hobby related meetups. You can attend meetups which can lead to a potential hobby. You can learn from others and even teach others. Attend events and workshops. Make a lot of new friends.<br> 
							</p>
				    	</div>
				    </div>
				</div>
				<% include ./partials/footer.ejs %>
			</div>
		</div>
	</body>
</html>