
.icons{
  padding: 10px;
}

.feature-icons .icons img{
  height: 72px; 
  width: 80px
}

.feature-icons{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.carousel-container {width:65%;}
.carousel-item img{height:430px; }
@media (max-width: 768px) {
    .carousel-container {width:90%;}
	.carousel-item img{height:340px; }
}
@media (max-width: 576px) {
    .carousel-container {width:100%;}
	.carousel-item img{height:320px; }
}

.carousel-caption{
	text-shadow: 1px 1px black; 
}

.main-container .description {padding-top: 5px;}
